<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chicken_walk_leftdown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,152},{34,28}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,188},{34,28}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,152},{34,30}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{34,30}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,70},{32,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,224},{30,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,7},{30,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,36},{32,28}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown6.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{32,28}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftdown7.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,116},{34,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{34,28}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{20,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{20,38}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,204},{22,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{22,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{22,36}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{22,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,40}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{22,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{22,38}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup6.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,38},{22,34}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_leftup7.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,126},{22,36}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{22,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{22,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{22,32}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,68},{22,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,30}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,36},{22,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{22,30}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,224},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{22,30}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,104},{24,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{24,32}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown5.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{22,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,188},{22,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{22,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightdown7.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,138},{22,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{22,32}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,44},{34,34}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,200},{34,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,36}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,116},{32,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,80},{30,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup5.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,80},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup6.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{32,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
            <key>chicken_walk_rightup7.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,164},{34,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chicken_walk.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e0745525b0ae7e5ff41d0000daca7da:1/1$</string>
            <key>textureFileName</key>
            <string>chicken_walk.pvr.ccz</string>
        </dict>
    </dict>
</plist>
