<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero_8d_down0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{44,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,1},{44,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,146},{42,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_down2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,146},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_down3.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,218},{42,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_down4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,220},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_left0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{40,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,1},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_left1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{56,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_left2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,390},{44,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_left3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,284},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{50,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_left4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,292},{44,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftdown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{40,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftdown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,430},{56,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftdown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{44,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftdown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,70},{42,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{42,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftdown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,138},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{40,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,164},{38,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{38,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{46,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{46,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,436},{40,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{40,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,74},{44,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_leftup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,364},{40,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{40,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_right0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{40,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_right1.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,82},{56,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{56,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_right2.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,148},{44,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_right3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,446},{50,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{50,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_right4.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,462},{44,68}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,5},{44,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightdown0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightdown1.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,362},{56,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{56,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightdown2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,230},{44,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightdown3.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{42,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,7},{42,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightdown4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,216},{40,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{40,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightup0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{40,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{40,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightup1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,76},{46,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{46,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,292},{40,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{40,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightup3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,318},{44,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{44,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_rightup4.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,74},{40,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{40,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_up0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{44,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{44,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,374},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_up2.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,156},{42,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{42,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_up3.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,244},{42,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{42,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero_8d_up4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,302},{42,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{42,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1_8d_walk_texture.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a44b4089370976902e0a298e612e3a2:1/1$</string>
            <key>textureFileName</key>
            <string>hero1_8d_walk_texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
