<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CannonProjectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{9,498},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>CannonTurret.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,458},{37,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{37,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>CannonTurretUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,469},{45,37}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>Enemy1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,200},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Enemy2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,200},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>Enemy3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,469},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FreezeTurret.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,458},{37,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{37,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>FreezeTurretUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,469},{45,37}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>IceProjectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,505},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>MGTowerUpgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,327},{43,37}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{43,37}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>MachineGunTurret.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,463},{37,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{37,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>Projectile.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>SputterRange.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,353},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>armour.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{99,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,118}}</string>
                <key>sourceSize</key>
                <string>{99,118}</string>
            </dict>
            <key>armour_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{99,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,118}}</string>
                <key>sourceSize</key>
                <string>{99,118}</string>
            </dict>
            <key>armour_highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{104,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,124}}</string>
                <key>sourceSize</key>
                <string>{104,124}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,98},{88,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,80}}</string>
                <key>sourceSize</key>
                <string>{88,80}</string>
            </dict>
            <key>coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,327},{50,42}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{50,42}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,327},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,368},{88,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>fan.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>fan_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,104},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>fan_highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,226},{110,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,99}}</string>
                <key>sourceSize</key>
                <string>{110,99}</string>
            </dict>
            <key>health_bar_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,485},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>health_bar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,458},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>health_bar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,431},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>health_bar_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,262},{200,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,25}}</string>
                <key>sourceSize</key>
                <string>{200,25}</string>
            </dict>
            <key>hero0.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,180},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>magic_mirror.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,116},{75,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,108}}</string>
                <key>sourceSize</key>
                <string>{75,108}</string>
            </dict>
            <key>magic_mirror_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,246},{75,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,108}}</string>
                <key>sourceSize</key>
                <string>{75,108}</string>
            </dict>
            <key>magic_mirror_highlighted.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,258},{80,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,115}}</string>
                <key>sourceSize</key>
                <string>{80,115}</string>
            </dict>
            <key>medal.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,375},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>medal_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,375},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,110}}</string>
                <key>sourceSize</key>
                <string>{78,110}</string>
            </dict>
            <key>menu_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,146},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>menu_main.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,200},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>menu_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,413},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>music.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>music_muted.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,84},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>next.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,375},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>replay.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,371},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>sceneButtonBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,132},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,289},{70,62}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,367},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{70,62}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,351},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_muted.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,289},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{60,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,289},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,290},{80,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,463},{30,30}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>icon_texture.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb40704911a0d896031a856cd95925f:1/1$</string>
            <key>textureFileName</key>
            <string>icon_texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
