<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>geography.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,396}}</string>
                <key>sourceSize</key>
                <string>{180,396}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{180,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,300}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>history.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{180,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,300}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>literature.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,396}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,396}}</string>
                <key>sourceSize</key>
                <string>{180,396}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{90,95}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>sceneButtonBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,304},{90,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,111}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knowledge_texture.pvr.ccz</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:869a25b2e0702c3e16ea1585de30cb6d:1/1$</string>
            <key>textureFileName</key>
            <string>knowledge_texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
