<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>geography.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,404},{200,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,440}}</string>
                <key>sourceSize</key>
                <string>{200,440}</string>
            </dict>
            <key>health.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,400}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>history.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,400}}</string>
                <key>sourceSize</key>
                <string>{240,400}</string>
            </dict>
            <key>literature.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{200,440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,440}}</string>
                <key>sourceSize</key>
                <string>{200,440}</string>
            </dict>
            <key>lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,846},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>sceneButtonBg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>knowledge_texture.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d66ea63003156ca83e88f45b93af050:99eca9fc54bfb5dbe6166bf59d0db8f0:46b3c72d988abb2f5d9570d6da72b42e$</string>
            <key>textureFileName</key>
            <string>knowledge_texture.pvr.ccz</string>
        </dict>
    </dict>
</plist>
